@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap'); // Headings
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); // Text

// Variables

$color-primary: #c51f5d;
$color-dark: #141d26;
$color-bg: #243447;
$color-light: #f0f8ff;
$google-blue: #4285f4;
$google-active-blue: #1669F2;

$font-size-small: 14px;
$font-size-big: 16px;
$font-weight-big: 700;

$font-header: 'Stick', serif;
$font-body: 'Montserrat', sans-serif;

// General Styles

body {
  background-color: $color-bg;
}

h1 {
  margin: 10px auto;
  color: $color-primary;
  font-family: $font-header;
}

h2 {
  color: $color-primary;
  font-weight: $font-weight-big;
}

h3 {
  margin: 5px auto;
}

h4 {
  margin: 0 auto;
}

span {
  color: $color-primary;
  font-weight: $font-weight-big;
}

ul {
  padding: 0;
  margin: 20px auto;
  list-style: none;
}

p {
  margin: 0;
}

// App Component

.App * {
  box-sizing: border-box;
}

.App {
  text-align: center;
  padding: 1% 5%;
  background-color: $color-bg;
  font-family: $font-body;
  font-size: $font-size-big;
}

// Login Component

.google-btn {
  width: 184px;
  height: 42px;
  margin: 30px 0 10px 0;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn:hover {
  box-shadow: 0 0 6px $google-blue;
}
.google-btn:active {
  background: $google-active-blue;
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: $color-light;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: -8px;
  width: 18px;
  height: 18px;
}
.btn-text {
  float: right;
  margin: 8px 9px 0 0;
  color: $color-light;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.btn-container {
  margin: 0 auto;
}

.btn-privacy {
  color: $color-light;
  text-decoration: none;
  font-size: 0.8rem;
}

// Event Component

.event {
  padding: 20px;
  margin-bottom: 30px;
  text-align: left;
  border: 1px solid $color-light;
  color: $color-light;
  border-radius: 4px;
  position: relative;
}

.btn-details {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background-color: $color-light;
  border-color: transparent;
  box-shadow: 5px 10px 18px -9px $color-dark;
}

.description {
  overflow-x: hidden;
}

button.eventCard--link {
  background-color: $color-light;
  padding: 5px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border-color: transparent;
  box-shadow: 5px 10px 18px -9px $color-dark;
  margin: 10px;
}

button.eventCard--link a {
  text-decoration: none;
  color: $color-dark;
}

// CitySearch Component

.CitySearch {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  max-width: 300px;
  margin: 15px auto;
  position: relative;
}

.city {
  width: 250px;
}

.suggestions {
  width: 250px;
  position: absolute;
  z-index: 2;
  align-self: center;
  margin: 0;
  top: 85px;
  font-size: $font-size-small;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #eee;
  cursor: default;
}

.suggestions > li:hover {
  background-color: #be9d9d;
}

.display-none {
  display: none;
}
.showSuggestions {
  display: block;
}

// NumberOfEvents Component

.NumberOfEvents {
  width: 250px;
  margin: 20px auto;
  text-align: center;
}

.eventNumInput {
  margin: 0 auto;
}

// Input Components (CitySearch + NumOfEvents)

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: $font-size-small;
  line-height: 20px;
  align-self: center;
  height: 38px;
}

input[type="number"] {
  margin: 5px;
}

label.eventNumLabel,
label.CitySearch-label {
  padding: 10px;
}

// Alert Component

.Alert {
  position: fixed;
  top: 100px;
  right: 400px;
  font-weight: $font-weight-big;
  background-color: $color-light;
  font-size: 1.5rem;
  z-index: 100;
}

// Charts Component

.data-vis-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}

div#undefined.recharts-responsive-container {
  width: 100%;
}

// Media Queries

@media screen and (max-width: 767px) {

  .Alert {
    top: 70px;
    left: 10px;
    right: 10px;
    font-size: 1rem;
  }

  h1 {
    margin: 0 auto;
  }

  h3 {
    margin: 3px auto;
  }

  .data-vis-wrapper {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
  }

  div#undefined.recharts-responsive-container {
    width: 100%;
  }

  .recharts-surface {
    overflow: visible;
  }

  .details-btn {
    position: absolute;
    right: 10px;
    bottom: 25px;
    padding: 5px;
  }

  .event {
    padding: 20px;
    padding-bottom: 80px;
  }
}